<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/group.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Righteous&subset=latin,cyrillic" rel="stylesheet"
          type="text/css">
    <link href="{% static 'css/group.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1>Group APP</h1>
    </div>
    <div class="content">
        <ul>
            <li><a href="{% url 'home' %}" style="font-size: 20px;">Home</a></li>
            <li><a href="{% url 'groups:list' %}" style="font-size: 20px;">Groups List</a></li>
            <li><a href="{% url 'groups:create' %}" style="font-size: 20px;">Create group</a></li>
            <li><a href="{% url 'groups:generate' %}" style="font-size: 20px;">Generate group</a></li>
            <li style="float:right"><a class="active" href="#about">About</a></li>
        </ul>
    </div>
</body>
</html>