<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Tracker</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/student.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Righteous&subset=latin,cyrillic" rel="stylesheet"
          type="text/css">
    <link href="{% static 'css/student.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="page-header">
        <h1>STUDENT TRACKER</h1>
    </div>
    <ul>
        <li><a href="{% url 'students:index' %}" style="font-size: 20px;">Students</a></li>
        <li><a href="{% url 'teachers:index' %}" style="font-size: 20px;">Teachers</a></li>
        <li><a href="{% url 'groups:index' %}" style="font-size: 20px;">Groups</a></li>
    </ul>
</body>
</html>

