<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/teacher.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Righteous&subset=latin,cyrillic" rel="stylesheet"
          type="text/css">
    <link href="{% static 'css/teacher.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="page-header">
        <h1>Teachers APP</h1>
    </div>
    <ul>
        <li><a href="{% url 'home' %}" style="font-size: 20px;">Home</a></li>
        <li><a href="{% url 'teachers:list' %}" style="font-size: 20px;">Teachers List</a></li>
        <li><a href="{% url 'teachers:create' %}" style="font-size: 20px;">Create teacher</a></li>
        <li><a href="{% url 'teachers:generate' %}" style="font-size: 20px;">Generate teacher</a></li>
        <li style="float:right"><a class="active" href="#about">About</a></li>
    </ul>

</body>
</html>