<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Student Tracker</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/student.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Righteous&subset=latin,cyrillic" rel="stylesheet"
          type="text/css">
    <link href="{% static 'css/student.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="header" id="st-header">
        <h1>STUDENT TRACKER</h1>
    </div>
    {% include 'messages.html' %}
     <div class="content">
         <h3 style="color: green"> Send us a message </h3>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button" type="submit"> submit</button>
            <button class="button" type="reset"> reset</button>
            <a href="{% url 'home' %}">
                <button class="button" type="button"> cancel</button>
            </a>
        </form>
     </div>
</body>
</html>

