h1 a {
    color: #00ccff;
    font-family: 'Righteous';
    text-align: center;
}

h2 {
    font-family: 'Righteous';
    text-align: right;
    font-size: 12pt;
    padding-right: 25px;
}

h3 {
    font-family: 'Righteous';
    text-align: center;
    font-size: 16pt;
}

body {
    font-family: 'Righteous';
    font-weight: 100;
<<<<<<< HEAD
=======
    font-size: 12pt;
>>>>>>> a22def234f27f03ebb7980bae32a3c22be9990b9
}

.post {
    padding: 5px 5px 5px 5px;
    font-family: 'Righteous';
<<<<<<< HEAD
    font-size: 12pt;
    background-color: #555;
=======
    font-weight: 100;
    font-size: 12pt;
    background-color: #c9fbff;
>>>>>>> a22def234f27f03ebb7980bae32a3c22be9990b9
}

form {
    padding: 20px 20px 20px 20px;
    text-align: center;
}

<<<<<<< HEAD


=======
>>>>>>> a22def234f27f03ebb7980bae32a3c22be9990b9
input[type=text] {
    padding: 2px 5px;
    margin: 2px ;
    box-sizing: border-box;
<<<<<<< HEAD
    border: 2px solid #555;
=======
    border: 2px solid #b3f0ff;
>>>>>>> a22def234f27f03ebb7980bae32a3c22be9990b9
    border-radius: 4px;
}

input {
    padding: 2px 5px;
    margin: 2px ;
    box-sizing: border-box;
<<<<<<< HEAD
    border: 2px solid #555;
    border-radius: 4px;
}

textarea {
    padding: 2px 5px;
    margin: 2px ;
    box-sizing: border-box;
    border: 2px solid #555;
=======
    border: 2px solid #b3f0ff;
>>>>>>> a22def234f27f03ebb7980bae32a3c22be9990b9
    border-radius: 4px;
}

select {
    padding: 2px 5px;
    margin: 2px ;
    border-radius: 4px;
<<<<<<< HEAD
    border: 2px solid #555;
    background-color: #ffffff;
}

=======
    border: 2px solid #b3f0ff;
    background-color: #ffffff;
}

.page-header {
    background-color: #00ccff;
    margin-top: 0;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 36pt;
    color: #ffffff;
}
>>>>>>> a22def234f27f03ebb7980bae32a3c22be9990b9

.content-container  {
    text-align: center;
}

<<<<<<< HEAD
.button {
    background-color: #555;
=======
.table {
    padding: 1px 50px 50px 50px;
    text-align: left;
}

.button {
    background-color: #00ccff;
>>>>>>> a22def234f27f03ebb7980bae32a3c22be9990b9
    border: none;
    color: white;
    padding: 5px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.button-del {
    background-color: #00ccff;
    border: none;
    color: #000000;
    padding: 5px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.button-table {
<<<<<<< HEAD
    background-color: #555;
=======
    background-color: #00ccff;
>>>>>>> a22def234f27f03ebb7980bae32a3c22be9990b9
    border: none;
    color: #ffffff;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
}

.button-main {
    background-color: #00ccff;
    border: none;
    color: #ffffff;
    padding: 5px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
}

.button-table-del {
<<<<<<< HEAD
    background-color: #555;
    border: none;
    color: #ffffff;
=======
    background-color: #00ccff;
    border: none;
    color: #000000;
>>>>>>> a22def234f27f03ebb7980bae32a3c22be9990b9
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
}

.button-table-del:hover {
    background-color: red;
    transition-duration: 0.4s;
    color: white;
<<<<<<< HEAD
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
=======
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
>>>>>>> a22def234f27f03ebb7980bae32a3c22be9990b9
}

.button-table:hover {
    transition-duration: 0.4s;
    color: green;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button-main:hover {
    transition-duration: 0.4s;
    color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
    transition-duration: 0.4s;
    color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button-del:hover {
    background-color: red;
    transition-duration: 0.4s;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.errorlist li:last-child  {
    list-style: none;
    color: red;
    background-color: #ffffff;
    text-align: center;
    float: none;
    }

<<<<<<< HEAD

=======
>>>>>>> a22def234f27f03ebb7980bae32a3c22be9990b9
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
<<<<<<< HEAD
    background-color: #555;
=======
    background-color: #00ccff;
>>>>>>> a22def234f27f03ebb7980bae32a3c22be9990b9
    text-align: center;
}

li {
    float: left;
    border-right: 1px solid #ffffff;
}


li:last-child {
    border-right: none;
}

li a {
    display: block;
<<<<<<< HEAD
    color: #f1f1f1;
=======
    color: white;
>>>>>>> a22def234f27f03ebb7980bae32a3c22be9990b9
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ffffff;
}

.active {
<<<<<<< HEAD
    color green;
    background-color: green;
}

table {

=======
    background-color: #9999d1;
}

table {
>>>>>>> a22def234f27f03ebb7980bae32a3c22be9990b9
    border-collapse: collapse;
    width: 100%;
}

<<<<<<< HEAD
td {
    text-align: left;
=======
th, td {
    text-align: center;
>>>>>>> a22def234f27f03ebb7980bae32a3c22be9990b9
    padding: 8px;
    border-right: 1px solid #c9fbff;
    border: 1px solid #c9fbff;
}

<<<<<<< HEAD
tr:nth-child(even){background-color: #f1f1f1}

th {
    background-color: #555;
    padding: 8px;
    color: white;
    border-right: 1px solid #c9fbff;
    border: 1px solid #c9fbff;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
=======
tr:nth-child(even){background-color: #e6ffff}

th {
    background-color: #00ccff;
    color: white;
    text-align: center;
>>>>>>> a22def234f27f03ebb7980bae32a3c22be9990b9
}


::-moz-selection { /* Code for Firefox */
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}

.alert {
<<<<<<< HEAD
    padding: 5px;
    border: none;
    text-align: center;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
    background-color: #555;
    padding: 14px;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    font-size: 36pt;
    color: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
=======
    border: none;
    text-align: center;
>>>>>>> a22def234f27f03ebb7980bae32a3c22be9990b9
}